@import './variables.scss';

* {
  color: $main-color1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 10px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}